@model IEnumerable<PropertyDealer.Models.Client>

@{
    ViewBag.Title = "ClientList";
}

<h2>Client List</h2>

<p>
    @Html.ActionLink("Register New Client", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DealAmount)
        </th>
        <th>Edit | Delete </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DealAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
          
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
<a href="@Url.Action("Right","Admin")">Back to Dashbord</a>
